.mermaids{
    height: 100%!important;
    width: 100%!important;
    display: flex;
    justify-content: center;
}
.mermaids svg {
    width:85%;
    max-width: 90vw!important;
    /* height: auto!important; */
}
.mermaids-temp{
    width: 100%!important;
    display: flex;
    justify-content: center;
    padding-bottom: 3%;
}

.mermaids-temp svg{
    width:85%;
    max-width: 90vw!important;
    /* max-width: 851px!important; */
}

.mermaid-form{
    display: flex;
    align-items: center;
    justify-content: center;
    height:100%;
}

.mermaids-temp svg g text tspan {
    /* fill: rgb(90, 187, 239) !important; */
    background-color: cornflowerblue!important;
}

/* .actor{
    fill: aqua!important;
}

tspan{
    fill: black!important;
    font-size: 18px;
    background: white;
    stroke: black!important;
    stroke-width: 0.2;
    stroke-linejoin: round;
} */
